.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.clients__item--link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__item--icon {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item--link:hover .client__item--icon,
.clients__item--link:focus .client__item--icon {
  fill: var(--accent-text-color);
}
.clients__item--link:hover,
.clients__item--link:focus {
  border: 1px solid var(--accent-text-color);
}
.clients__title {
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .clients__item {
    margin-bottom: 30px;
    width: 194px;
  }
  .clients__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 194px;
  }
}
@media screen and (min-width: 1140px) {
  .clients__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }
}
