.contacts {
  display: flex;
  align-items: center;
}
.contacts__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts__item--mail,
.contacts__item--tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.contacts__item--mail:hover,
.contacts__item--mail:focus,
.contacts__item--tel:hover,
.contacts__item--tel:focus {
  color: var(--accent-text-color);
}
.contacts__mail--icon {
  fill: var(--primary-text-color);
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contacts__item--mail:hover & {
    fill: var(--accent-text-color);
  }
}
.contacts__tel--icon {
  fill: var(--primary-text-color);
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contacts__item--tel:hover & {
    fill: var(--accent-text-color);
  }
}

.contacts__footer--address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #fff;
}
.contacts__footer--item {
  margin-top: 8px;
}

.contacts__footer--mail,
.contacts__footer--tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 64px;
  }

  .contacts__mail--header {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    margin-top: 32px;
  }
  .contacts__tel--header {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
  }
  .contacts__mail--icon,
  .contacts__tel--icon {
    display: none;
  }
  .menu__social--list {
    display: flex;
    justify-content: center;
  }
  .menu__social--link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: 0.02em;

    color: #2196f3;
    text-decoration: none;
  }
  .menu__social--item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__footer--address {
    margin-top: 20px;
  }
  .menu__social--list {
    display: none;
  }
}
@media screen and (min-width: 450px) {
  .contacts__footer--address {
    margin-bottom: 8px;
  }
  .contacts__footer--section {
    text-align: center;
  }
}
