.contacts__footer--address {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: #fff;
}
.contacts__footer--item {
  margin-top: 8px;
}
@media screen and (max-width: 767px) {
  .contacts__footer--address {
    margin-bottom: 8px;
  }
}

.contacts__footer--mail,
.contacts__footer--tel {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 763px) {
  .contacts__footer--section {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts__footer--address {
    margin-top: 20px;
  }
}
