@media screen and (min-width: 450px) {
  .features {
    display: flex;
    flex-wrap: wrap;

    &__blocks {
      font-size: 14px;
      line-height: 1.71;
      margin-top: 30px;
    }
  }
}
@media screen and (min-width: 1140px) {
  .features {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
    &__blocks {
      flex-basis: calc((100% - 120px) / 4);
      font-size: 14px;
      line-height: 1.71;
      margin-top: 30px;
      margin-left: 30px;
    }
  }
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
    &__blocks {
      width: 350px;
      flex-basis: calc((100% - 120px) / 4);
      font-size: 14px;
      line-height: 1.71;
      margin-top: 30px;
      margin-left: 30px;
    }
  }
  .features__blocks--title {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    @media screen and (min-width: 768px) {
      text-align: start;
      margin-bottom: 10px;
      line-height: 1.14;
    }
  }
  .feature__blocks--frame {
    padding: 25px 175px;
    margin-bottom: 30px;

    background: #f5f4fa;
    border-radius: 4px;
    @media screen and (min-width: 1140px) {
      padding: 25px 102px;
    }
    @media screen and (min-width: 768px) {
      padding: 25px 142px;
    }
  }
  .features__blocks--icon {
    width: 65px;
    height: 70px;
  }
  .features__blocks--text {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #757575;
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }
}
