.footer {
  background-color: #2f303a;
}
.logo__footer {
  color: #fff;
}
.footer__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: #fff;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1140px) {
  .footer__list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 60px;
  }
}
@media screen and (max-width: 763px) {
  .footer__container--logo {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1140px) {
  .footer__container--logo {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .join {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 450px) {
  .footer__form--title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
}

@media screen and (min-width: 450px) {
  .footer__form--container {
    display: flex;
  }
}
@media screen and (min-width: 1140px) {
  .footer__form--container {
    display: flex;
    margin-left: 84px;
  }
  .join {
    margin-left: 70px;
  }
}

.footer__form--input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  padding-left: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 450px;
  height: 50px;
  background-color: #2f303a;
  color: #fff;
  @media screen and (min-width: 1140px) {
    width: 368px;
  }
}
.footer__form--input:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

@media screen and (max-width: 763px) {
  .footer__form--item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .footer__contacts--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  .footer__form--field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .join {
    text-align: center;
    margin-bottom: 120px;
  }
  .footer__form--field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__form--input {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .footer__form--title {
    text-align: center;
  }
}
@media screen and (max-width: 1139px) {
  .footer__form--field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__contacts--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  .contacts__footer {
    text-align: center;
  }
}
@media screen and (min-width: 1140px) {
  .footer__form--title {
    text-align: start;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }
  .footer__form--field {
    display: flex;
    flex-direction: row;
  }
  .footer__form--input {
    margin: 0;
  }
}
