.hero {
  position: relative;
  background: #2f303a;
  background: #2f303a;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/mobilebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 450px;

  @media screen and (min-width: 1140px) {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/herobg.jpg");
    min-width: 1200px;
  }
}
.hero__container {
  max-width: 696px;
  text-align: center;
}
.hero__title {
  color: white;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: 0;
  margin-left: 0;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  text-align: center;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 1140px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
